@import "tailwindcss";

/* Opcional: Si quieres forzar la fuente del sistema para que se vea moderno */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

/* Importante: Aseguramos que el body ocupe todo, pero SIN centrar el contenido */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #f3f4f6; /* Un gris muy suave de fondo base (opcional) */
}
